.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.card-style {
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}