/* Header.js syles*/
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}


/* App.js light - dark theme*/
#light {
    background-color: #f3f5f3;
    background-image: url(./../../public/img/luke.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: scroll;
}

#dark {
    background-color: #202020;
    background-image: url(./../../public/img/anakin.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: scroll;
}

.switch {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 20%;
    z-index: 1;
}

.switch label {
    margin: 3px;
}

#light .switch label {
    color: black;
}

#dark .switch label {
    color: white;
}

.theme-img {
    width: 30px;
    margin: auto;
}


/* SearchAndList.js syles and light - dark theme*/
.writing-box {
    text-align: left;
    width: 90%;
    border: none;
    outline: none;
}

#light .writing-box {
    background-color: #f7fcf6;
    color: black;
}

#dark .writing-box {
    background-color: #404040;
    color: white;
}

.search {
    font-size: 14px;
    margin: auto;
    padding: 14px;
    width: 40%;
    color: #222;
    border: 1px solid #FFC107;
    border-radius: 24px;
    outline: none;
}

#light .search {
    background-color: #f7fcf6;
}

#dark .search {
    background-color: #404040;
}


/* Starships.js syles and light - dark theme*/
.card-wrap {
    overflow-y: scroll;
    display: flex;
}

.card-style {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#light .card-style {
    background-color: #f7fcf6 !important;

}

#dark .card-style {
    background-color: #404040 !important;
    border-color: #616161;
    color: #fff;
}

#light .card-style:hover {
    max-width: 52%;
    border-color: #FFC107;
    background-color: #e6f9e5 !important;
    box-shadow: 3px 2px 10px 3px rgba(3, 254, 3, 0.195);
}

#dark .card-style:hover {
    max-width: 52%;
    border-color: #3e3939;
    background-color: #2f2323 !important;
    box-shadow: 3px 2px 10px 3px rgba(254, 3, 3, 0.195);
}


/* StarshipDetail.js  syles and light - dark theme*/
.detail-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.detail-card {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#light .detail-card {
    background-color: #f7fcf6 !important;
    color: black;
    box-shadow: 3px 2px 10px 5px rgba(3, 254, 3, 0.195);
}

#dark .detail-card {
    background-color: #404040 !important;
    border-color: #616161;
    color: #fff;
    box-shadow: 3px 2px 10px 5px rgba(254, 3, 3, 0.195);
}

.img-size {
    width: 60%;
    margin: auto;
}