.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.card-style {
    max-width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-style:hover {
    border-color: #FFC107;
}

.detail-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.detail-card {
    max-width: 90%;
    border-color: #FFC107 !important;
}