/* App.js syles*/
.App {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}


.topScroll {
  position: fixed;
  text-align: center;
  bottom: 5px;
  right: 5px;
  font-size: 2.5rem;
  border: none;
  background-color: transparent;
  color: #FFC107;
}